body {
  background-color: #ddd;
}

h1 {
  margin-left: 10px;
}

div#component {
  width: 37%;
  height: 650px;
  margin-left: 10px;
  margin-right: 10px;
}

div#input {
  height: 585px;
}

div#display {
  height: 545px;
  overflow-y: scroll;
}

div#chart {
  position: relative;
  width: 60%;
  height: 650px;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-width: 1px;
  border-style:solid
}

span.tolabel {
  display: inline;
  padding: 1px 1px 1px;
  color: #ffffff;
  text-align: center;
  white-space: wrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #428bca;
}

kbd.custom {
  padding: 1px 4px 1px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}

.link {
  fill: none;
  stroke: #000;
  stroke-width: 5px;
  opacity: .5;
}

.link:hover {
  stroke: red;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 5px;
}